recursive-include django_anysign *
recursive-include django_dummysign *
global-exclude *.pyc
include AUTHORS
include CHANGELOG
include CONTRIBUTING.rst
include INSTALL
include LICENSE
include README.rst
include VERSION
